.images {
  img {
    position: absolute;
  }

  & img:nth-child(1) {
    left: 1356px;
  top: 11px;
  }

  & img:nth-child(2) {
    left: 393px;
    top: 13px;

  }

  & img:nth-child(3) {
    left: 385px;
    top: 298px;
  }

  & img:nth-child(4) {
    left: 1422px;
    top: 318px;
  }

  & img:nth-child(5) {
    left: 879px;
    top: 523px;
  }
}